<div class="document-box">
    <h1>Поддержка</h1>

    <p>Мы стремимся обеспечить вам максимально удобный и безопасный обмен. Если у вас возникли вопросы, сложности или требуется помощь — наша служба поддержки всегда готова помочь.</p>

    <h3>Чем мы можем помочь</h3>
    <ul>
        <li>🛠 Помощь при возникновении технических проблем</li>
        <li>💸 Статусы и уточнение по обменным операциям</li>
        <li>🔐 Вопросы по KYC и требованиям AML</li>
        <li>📄 Консультации по правилам и документам платформы</li>
    </ul>

    <h3>Как с нами связаться</h3>
    <p>Вы можете связаться с нами через любой удобный способ, указанный ниже. Мы стараемся отвечать как можно быстрее, особенно в случае активной заявки на обмен.</p>

    {% include "app_main/templates/app_main/_contacts.html" %}
</div>
